<h1>About This Web App</h1>

<p>I came up with Map My Travels when I thought about showcasing my ability to hit APIs like Google Maps. I wanted to have a nifty, fun app that shows where I've traveled on a Google Map after entering it on the webpage. This is Map My Travels Lite!</p>

<p>The idea is simple: type in a place you visited and have that location appear on a map of the world. This app was created using Ruby on Rails, with some JavaScript on the front-end, and the app shoots requests to the Google Maps API to have it display on a static map of the world.</p>

<p>Please note that this version is intended only to show API calls, and users will not be able to save their map or have a profile of places they have visited. This is simply to showcase my own ability to integrate Google Maps. However, in the future, I hope to build upon this app and merge my love for traveling with my love for technology.</p>

<address>
  Created by Miguel A. Ibarra, Jr.<br>
  <a href="https://github.com/migaibarra/Map_My_Travels_Lite">Check out the project repository on GitHub</a>
</address>

<p>
  <em>Questions? Comments?</em><br>
  Contact me:
  <a href="mailto: miggs.ibarra@gmail.com">miggs.ibarra@gmail.com</a>
</p>
